@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .hoverBtn:hover {
        background-color: white !important;
        border: 1px solid black;
        color: black !important;
    }
}